@import "./_variables.scss";
@import "bootstrap";
@import "./_overrides.scss";
@import "./utilities.scss";
@import "./loaders.scss";

body {
  overscroll-behavior: none;
}



// SECTION Desktop
@media (min-width: 768px) {
  .masonry {
    /* Masonry container */
    column-count: 4;
    column-gap: 1em;
    direction: row;
    // margin-top: 3em;
  }

  .item {
    /* Masonry bricks or child elements */
    background-color: #eee;
    display: inline-block;
    margin: 0 0 1em;
    width: 100%;
  }

  .mfs-3 {
    font-size: 1.5rem !important;
  }

  .mfs-2 {
    font-size: 2rem !important;
  }
}

// SECTION Mobile
@media (max-width: 768px) {
  .masonry {
    /* Masonry container */
    column-count: 2;
    column-gap: 1em;
    direction: row;
    // margin-top: 3em;
  }

  .item {
    /* Masonry bricks or child elements */
    background-color: #eee;
    display: inline-block;
    margin: 0 0 1em;
    width: 100%;
  }


}







.img-text {
  color: rgb(219, 219, 219);
  text-shadow: 1px 1px 3px rgb(32, 30, 30);
}

.glass-card {
  background: rgba(0, 0, 0, 0.50);
  backdrop-filter: blur(4px);
  border: solid #8d8b8b1f;
  border-radius: 8px;
  // padding: 0;
}

.bg-stone {
  background-image: url(https://wallpaperaccess.com/full/7885018.jpg);
  background-repeat: no-repeat;
  background-attachment: fixed;
  // min-height: 100vh;
}

.bg-clear {
  background-color: transparent;
}

#app {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
  background-color: $body-bg;
}

main {
  flex-grow: 1;
}

a {
  text-decoration: none;
}

input,
textarea,
select {
  &:not(:placeholder-shown) {
    &:valid {
      border: 1px solid $success;
    }

    &:invalid {
      border: 1px solid $danger;
    }
  }
}

form:invalid button[type="submit"] {
  filter: grayscale(1);
  pointer-events: none;
}